body {
  background-color: #1a1a1a;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#root {
  height: 100vh;
  width: 100%;
}

header {
  background-color: #007fff;
  display: flex;
  justify-content: left;
  align-items: center;
  height: 64px;
  width: 100%;
}

h1 {
  color: white;
  font-size: 1.5rem;
  font-family: 'Quicksand';
  margin-left: 32px;
}

h2 {
  color: white;
  font-size: 1.3rem;
  font-family: 'Quicksand';
  margin-left: 16px;
}

.hess-board {
  width: 400px;
  height: 400px;
}